<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqsKZGXACzCk7-ZN63HI1RcRAudzSdQkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1043939757309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.conecta</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-bd91c</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-bd91c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043939757309:ios:9a724cb6470f5a91cf4294</string>
</dict>
</plist>